*,
*::before,
*::after
    box-sizing: border-box
    outline: none
$body-size: 16px
body
    font-family: 'Open Sans Condensed', sans-serif
    font-size: $body-size
.container
    max-width: 1200px
    margin: auto
    padding: 0 15px
.input
    width: 100%
a
    text-decoration: none
    display: block
img
    max-width: 100%
button
    &:hover
        cursor: pointer
.flex
    display: flex
    flex-wrap: wrap
.flex-center
    align-items: center        